%section#home.home{"data-index" => "0"}
  .head
    %h1 I am Ricardo
    %p I like to design and code
    =link_to "Read More...", "#container"
%section#container.container{"data-index" => "1"}
  .about
    %h1.heading PROFILE
    %p.about-text
      プログラミングの魅力的な部分は気になる物を他の業界と比べて試しやすい事と <br>
      フロント、バック、インフラの仕事を幅広く活用出来る場が魅力的でやる気になります。<br>
      <br>
      新しいことを学ぶのが好きで最初はわからなくとも基礎を繰り返して点と点が繋ぎ始めるが面白いです。<br>
      <br>
      Railsの良い所は少量のコマンドでスピーディな開発が進めれて大抵なことはGEMがあるから<br>
      それもプラスになります。
%section#works.works{"data-index" => "2"}
  %h1.heading WORKS
  .container2
    .card
      .face.face1
        %figure.contents
          =image_tag "proffy.png",height: "150" , alt: "投稿 フィルター一覧表 サイト"
          %figcaption
            %h3 proffy
      .face.face2
        .contents
          %p  Node.jsとReact(TypeScript)で作れた投稿とフィルターかけの一覧表。
    .card
      .face.face1
        %figure.contents
          =image_tag "spotcode.png",height: "150", alt: "同期通信 サイト"
          %figcaption
            %h3 spotcode
      .face.face2
        .contents
          %p RailsとReactでスポティファイのコピーサイト。
    .card
      .face.face1
        %figure.contents
          =image_tag "mercari.png",height: "150", alt: "ECサイト"
          %figcaption
            %h3 メルカリ(クローンサイト)
      .face.face2
        .contents
          %p  スクールのアジャイル開発でメルカリのクローンサイトをチームで開発しました。 ユーザーログイン ・出品、購入 を行うことができます。
%section#contact.contact{"data-index" => "3"}
  .stables 
    %h1 お問い合わせ<br>
    %p 現在WEB制作の案件募集中です。<br>
    %p お気軽にお問い合わせください。
  = form_for(@inquiry,html:{class: "contact-form"}, url: {controller: 'home', action: 'create' }) do |f|
    = f.text_field :name,class:"name",id:"name", placeholder: "お名前"
    = f.email_field :emails,class:"email",id:"email", placeholder: "メール"
    = f.text_field :title,class:"title",id:"title", placeholder: "内容"
    = f.text_area :message,class:"message",id:"message", placeholder: "メッセージ"
    = f.button "SEND",class:"btn",id:"btn"